@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .circle {
    @apply transition-all duration-100 rounded-full;
  }

  .xsCircle {
    @apply h-1 w-1 m-0.5 ;
  }

  .smCircle {
    @apply h-2 w-2 m-0.5 ;
  }

  .mdCircle {
    @apply h-4 w-4 m-1;
  }

  .lgCircle {
    @apply h-6 w-6 m-1;
  }

  .xlCircle {
    @apply h-8 w-8 m-1 border-4;
  }


  .fullCircle {
    @apply  border-2 bg-gradient-to-b from-cyan-500 to-red-500 border-yellow-800;
  }
  .emptyCircle {
    @apply bg-gray-600 border-4 border-stone-800;
  }
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

#root, body, html {
  min-height: 100vh;
}

.App {
  background-image: url('../public/background.jpg') ;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.test {
  color: red !important;
}

.gapBox {
  gap: 250px;
}



.text-gradient {
  background: -webkit-linear-gradient( #fff, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.darkBackground {
  background-color: rgba(0,0,0,.5);
}

.vignette {
  box-shadow: inset 0 0 50px 35px rgba(0,0,0,.5);
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.fadeFromLeft {
  animation: fadeFromLeft 1s ease-in-out;
}

.fadeFromRight {
  animation: fadeFromRight 1s ease-in-out;
}

.circleBox {
  display: inline-block;
}

.rollIn1 {
  animation: rollIn1 1s ease-in-out;
  position: relative;
}

.rollIn2 {
  animation: rollIn2 1s ease-in-out;
}

@keyframes fadeFromLeft {
  0% {
   left: -100px;
  }
  100% {
    left: 0px;
  }
}

@keyframes fadeFromRight {
  0% {
    right:  -100px;
  }
  100% {
    right: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rollIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rollIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}